.bod
{
    background-color: #E5E5E5;
}
.left_panel
{
    background-color: white;
    width:300px;
    height:850px;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 20px;
   
}


.m_panel{
    display: flex;
    flex-direction: row;
}
.circle1{
    height: 150px;   
    margin-left: 70px;width: 150px;border-radius: 50%;
    margin-top: 10px;
    position: relative;
    padding-top: 10px;
    }

  .heading1
  {
    margin-left: 90px;
    margin-top: 0px;
   font-size: 10px;
  }
  .bold
  {
      font-weight: bold;
      font-size: 30px;
      width: 300px;  
      margin-left: -50px;
      font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    

  }
  .sbold
  {
      font-weight: normal;
      font-size: 20px;
      margin-left: -35px;
      margin-top: -20px;
      color: gray;
      font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
  }
.left_main
{
    color: gray;
    font-weight: bold; 
    margin-top: 25px;
    margin-left:40px;
    height:300px;
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 18px;
}
.edit_button
{
    background-color: gray;
    width:100px;
    height:30px;
    border-radius: 30px;
    margin-top: 170px;
    margin-left: 85px;
    text-align: center;
    font-size:18px;
    font-weight: bold;
}
.edit_text
{
    color: white;
    margin-top: 40px;
    padding-top: 50px;
    border-top: 50px;
}
.details
 {
     color: black;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-weight: bold;
     font-size: 14px;
 }
 .hello
 {
    margin-top: 10px;
 }
 .right_details
 {
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 24px;
     font-weight: bold;
     margin-top: -600px;
     margin-left: 650px;
     width: 300px;
 }
 .hori
 {
     background-color: black;
     height: 5px;
     margin-top: 10px;
     margin-left: 50px;
     width: 150px;
 }
 .buttons
 {
     background-color: #626F8F;
     height: 85px;
width: 309px;
margin-left: -200px;
margin-top: 100px;
border-radius: 50px;
 }
 .butt
 {
     background-color:#626F8F ;
     border: 0px;
     margin-left: 50px;
     margin-top: 30px;
     font-weight: bold;
     color: white;
     font-size: 16px;
 }
 .buttons2
 {
     background-color: #626F8F;
     height: 85px;
width: 309px;
margin-left: 130px;
margin-top: -90px;
border-radius: 50px;
 }
 .butt2
 {
     background-color:#626F8F ;
     border: 0px;
     margin-left: 60px;
     margin-top: 30px;
     font-weight: bold;
     color: white;
     font-size: 16px;
 }
 .main_butt
 {
     margin-top:50px;
     margin-left: 10px;
 }
 .bott_right
 {
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-weight: bold;
     color: black;
     margin-top:70px;
     margin-left: 450px;
     width:300px;
     font-size: 26px;
 }
 .docs
 {
    height: 140px;
    width: 156px;
    left: 500px;
    top: 630px;
    border-radius: 30px;
    background-color: #717D9996;
    
    
 }
 .docs2
 {
    height: 140px;
    width: 156px;
    margin-left:180px;
    margin-top: -185px;
    border-radius: 30px;
    background-color: #717D9996;

 }
 .docs3
 {
    height: 140px;
    width: 156px;
    margin-left:180px;
    margin-top: -185px;
    border-radius: 30px;
    background-color: #717D9996;
 }

.docs4
    {
       height: 140px;
       width: 156px;
      margin-left: 180px;
      margin-top: -185px;
       border-radius: 30px;
       background-color: #717D9996;
   
    }
    .doc_text
    {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: black;
        margin-left: 40px;
        width:300px;
        font-size: 12px;
     
    }
    .last_up
    { 
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: black;
        margin-left: 30px;
        width:300px;
        font-size: 10px;
        font-weight: normal;
        margin-top: -10px;
       
        
    }

    
    .okay
    {
        background-color: gray;
        color: white;
        border:1px;
        border-radius: 10px;
        border-color: black;
        height: 50px;
        width: 100px;
        margin-left: 720px;
        margin-top:100px;
        margin-bottom:10px;
        font-size: 20px;
        font-weight: bold;
        
    }
    .rep_up
    {
        margin-left: 700px;
        color:black;
    }
    .submit_rep
    {
        background-color: burlywood;
        height:40px;
        width:100px;
        border-radius: 25px;
        margin-left: 70px;
        margin-top: 30px;
    }
    .choose_rep
    {
        background-color: gray;
        height:40px;
        width:200px;
        border-radius: 25px;
        margin-left: 30px;
        margin-top: 30px;
        text-align: center;

    }
    .attac_docs
    {
        background-color:white;
        height: 300px;
        width: 750px;
        border-radius: 60px;
        padding-top: 50px;
        padding-left: 30px;
        font-size: 20px;
       
    }

    .text_docs
    {
        margin-top: 200px;
        padding: 100px;
    }
